.App {
  text-align: center;
}

ul {
  list-style-type: none;
}

.categoryBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.reviewsList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .reviewsList {
    flex-direction: column;
  }
  .categoryBar {
    flex-wrap: wrap;
  }
}

.reviewsList__img {
  height: 270px;
  border-radius: 15px;
}

.singleReview {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    'title title'
    'img details'
    'body body'
    'voteBtn voteBtn'
    'voteError voteError';
  justify-items: center;
}

.singleReview__title {
  grid-area: title;
}

.singleReview__details {
  grid-area: details;
}

.singleReview__img {
  grid-area: img;
  border-radius: 15px;
}

.singleReview__body {
  grid-area: body;
}

.singleReview__voteBtn {
  grid-area: voteBtn;
}

.singleReview__voteError {
  grid-area: voteError;
}

.commentForm {
  display: grid;
  grid-template-columns: 35vw;
  grid-template-rows: auto auto;
  grid-template-areas:
    'body'
    'btn';
  justify-content: center;
}

.commentForm__body {
  grid-area: body;
}

.commentForm__btn {
  grid-area: btn;
}
